<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mabatis.rog/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hello.Mybatis.domain.delivery.DeliveryRepository">
    <select id="findId" resultType="hello.Mybatis.domain.delivery.Delivery">
        SELECT deliveryId
        FROM delivery
        WHERE deliveryKey = #{value}
    </select>


    <insert id="save"  parameterType ="hello.Mybatis.domain.delivery.Delivery" >
        INSERT delivery(
        deliveryId,
        address,
        status,
        deliveryKey
        ) VALUES (
        #{deliveryId},
        #{address},
        #{deliveryStatus},
        #{deliveryKey}
        )
    </insert>

</mapper>